* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
    background-color: rgb(6, 4, 18);
}

.main {
    background-color: rgb(6, 4, 18);
    font-family: sans-serif;
    color: white;
    overflow: hidden;
    padding-bottom: 20px;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    width: 100vw;
    padding-top: 20px;
    height: 70px;
    z-index: 3;
    top: -100px;
    padding-top: 20px;
    overflow: hidden;
    filter: drop-shadow(2px 2px 3px blue);
    transition: all 0.5s ease;
}

.navs {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(6, 4, 18);
    width: 100vw;
    position: absolute; 
    top: -100px;
    transition: 1s;
    height: 70px;
}

.my-name {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    color: white;
    width: 100%;
    opacity: 90%;
}

.my-name>h1>span {
    color: #55198b;
}
.other-navbar{
    display: flex;
    width: 100%;
    height: 70px;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 20px;
    right: 100px;
    z-index: 1;
    transition: all 3s ease;
}

.nav>li {
    list-style-type: none;
}

.nav>li>a {
    text-decoration: none;
    font-size: 1.25em;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    right: 20px;
    color: #55198b;
    border-radius: 20px;
    transition: all 0.3s ease;
}

.nav>li>a:hover {
    background-color: #55198b;
    color: white;
}
/* .menu-icon{
    margin-right: 10px;
    background-color: aqua;
} */
.menu-icon>span {
    font-size: 3em;
    position: absolute;
    right: 30px;
    /* top: 1px; */
    cursor: pointer;
    display: none;
}

.menu-nav {
    margin-top: 30px;
    background-color: white;
    opacity: 0.8;
    width: 100%;
    position: fixed;
    transition: all 1s ease;
    overflow: hidden;
    top: -210px;
    z-index: 2;
}

.menu-nav-slide {
    top: 42px;
}

.menu-nav>li {
    font-size: 1.2em;
    font-weight: bolder;
    list-style-type: none;
}

.menu-nav>li>a {
    text-decoration: none;
    color: black;
    display: flex;
    padding: 10px 10px 10px 10px;
    justify-content: center;
    align-items: center;
}

.menu-nav>li>a:hover {
    background-color: rgb(230, 229, 229);
    color: whi
}

.menu-nav>li>img {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    overflow: hidden;
    height: 25px;
    width: 50px;
    position: absolute;
    right: 30px;
    top: 19px;
}

.switch {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 1.5px solid red;
    height: 23px;
    width: 45px;
    cursor: pointer;
    background-color: rgb(253, 249, 249);
}

#slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 3.6px;
    width: 18px;
    height: 18px;
    top: 2.67px;
    background-color: rgb(145, 19, 19);
    border-radius: 50%;
    transition: 0.6s;
}

.slide-on {
    transform: translateX(21px);
    transition: 0.8s;
}

.color-slide {
    color: black;
}

.bg-color {
    background-color: rgb(141, 209, 245);
}

.color-switch {
    color: black;
}

/* ------------------Hero Section--------------------------- */

.hero-section {
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 2s ease;
}

/* ----------------------Hero Section Desription------------------------------ */

.hero-section>.des {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 350px;
    height: 350px;
    overflow: hidden;
}

.des h1 {
    color: #55198b;
    margin-left: 350px;
    transition: all 3s ease;
    font-size: 2.1em;
    font-style: italic;
}

.des>h2 {
    color: #55198b;
    margin-left: 350px;
    transition: all 3s ease;
    font-size: 1.5em;
    padding-top: 10px;
    font-style: italic;

}

#span-h1 {
    color: white;
}

#des-h2>span {
    color: white;
}

.des button {
    font-size: 1em;
    font-weight: bold;
    margin-top: 5vh;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 5px;
    background-color: #55198b;
    cursor: pointer;
    transition: all .7s ease;
}

#resume-btn {
    margin-left: 20px;
}

.des button:hover {
    background-color: white;
    transition: .5s;
    transform: translateY(-5px);
}

.contact-hsection {
    padding-top: 25px;
}

.contact-hsection>img {
    height: 35px;
    width: 35px;
    margin-left: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.contact-hsection>img:hover {
    transform: translateY(-10px)
}

/* ------------------------Hero section Image----------------------- */

.hero-section-image>img {
    width: 400px;
    height: 400px;
}

/* -----------------------Scroll to top------------------- */

#scroll {
    position: fixed;
    right: 20px;
    width: 40px;
    z-index: 1;
    height: 40px;
    border-radius: 50%;
    border: none;
    bottom: 50px;
    display: none;
    transition: 0.5s;
    cursor: pointer;
}

#scroll:hover {
    transform: translateY(-10px);
    filter: drop-shadow(blue 10px 20px 30px);
}

/* --------------------About Profile-------------------------------- */

.about-myself {
    margin: auto;
    padding-left: 70px;
    margin-top: 5vh;
    font-weight: bolder;
    transition: 0.3s;
}

.profile-summary>h1 {
    font-weight: bolder;
    font-size: 2em;
}

.profile-summary>h1>span {
    text-decoration: underline red;
}

.about-myself>p {
    padding-left: 30px;
    padding-right: 80px;
}

/* --------------------------What i do description------------------- */

.what-i-do {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.what-i-do-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 350px;
}

.what-i-do-image>img {
    width: 500px;
    height: 500px;
}

.what-i-do-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding-left: 25px;
    padding-right: 25px;
}

.what-i-do-text>h1 {
    font-size: 1.7em;
}

.what-i-do-text>p {
    font-size: 1.4em;
}

/* ------------------------My Skills------------------------- */

.my-skill {
    margin: auto;
    margin-left: 30px;
    margin-top: 5vh;
    font-weight: bolder;
}

.skill {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill>h1 {
    font-weight: bolder;
    font-size: 2em;
}

.skill>h1>span {
    text-decoration: underline red;
}

/* -------------------My skill Div---------------------- */

.big-box1 {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: auto;
    justify-content: space-evenly;
}

.big-box1 div {
    width: 250px;
    height: 200px;
    background-color: rgb(35, 35, 36);
    margin-top: 30px;
    margin-right: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    filter: drop-shadow(2px 2px 3px blue);
}

.big-box1>div:hover {
    transform: scale(1.1);
    filter: drop-shadow(2px 2px 5px blue);

}

.big-box1>div>img {

    height: 100px;
    width: 100px;
}

/* ------------------Skill button---------------------- */

#btn-div {
    text-align: center;
    display: none;
    height: 50px;
    box-shadow: none;
    background-color: rgb(6, 4, 18);
    filter: drop-shadow(0px 0px 0px rgb(6, 4, 18));
}

#btn-div1 {
    display: none;
    height: 50px;
    box-shadow: none;
    background-color: rgb(6, 4, 18);
    filter: drop-shadow(0px 0px 0px rgb(6, 4, 18));
}

#btn {
    margin: auto;
    width: 80px;
    transition: all 0.3s ease;
    height: 30px;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
    display: flex;
    padding: 6px;
    padding-left: 8px;
    padding-top: 7px;
    background-color: #55198b;
}

#btn:hover {
    background-color: white;
    transform: translateY(-5px);
}

#btn1 {
    display: flex;
    margin: auto;
    margin-top: 15px;
    width: 80px;
    transition: all 0.3s ease;
    height: 30px;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    padding: 6px;
    padding-left: 8px;
    padding-top: 7px;
    background-color: #55198b;
}

#btn1:hover {
    background-color: white;
    transform: translateY(-5px);
}

/* ----------------------My project------------------------- */

.my-project {
    margin: auto;
    margin-left: 30px;
    margin-top: 5vh;
    font-weight: bolder;
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project>h1 {
    font-weight: bolder;
    font-size: 2em;
}

.project>h1>span {
    text-decoration: underline red;
}

.project-box1 {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
}

.project-box1>div {
    width: 350px;
    height: 300px;
    background-color: rgb(35, 35, 36);
    margin-top: 40px;
    margin-right: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(Images/screenshot.png);
    background-size: contain;
    filter: drop-shadow(2px 2px 3px blue);
    background-repeat: repeat;
    overflow: hidden;
}

.project-box1>div:hover {
    transform: scale(1.1);
    filter: drop-shadow(2px 2px 4px blue);
}



.project-box1-slide {
    filter: drop-shadow(3px 3px 4px blue);
}

.project-hover {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 300px;
    opacity: 0.6;
    z-index: 1;
    border-radius: 20px;
    overflow: hidden;
    transform: translateY(-300px);
    background-color: rgb(248, 238, 238);
}

.project-hover>p {
    opacity: 2;
    color: black;
    font-size: 1.6em;
}

.project-hover>button {
    width: 140px;
    height: 35px;
    border-radius: 20px;
    border: 2px solid black;
    opacity: 2;
}

.project-box1>div:hover .project-hover {
    transform: translateY(0px);
    transition: 0.5s;
}

/* ------------------button project------------------------- */

#btn-project-div{
    background: url();
    box-shadow: none;
    background-color: rgb(6, 4, 18);
    filter: drop-shadow(0px 0px 0px rgb(6, 4, 18));
    height: 50px;
    padding: auto;
    display: none;
    margin-top: 25px;
}

#btn-project-div1{
    display: flex;
    justify-content: center;
    background: url();
    box-shadow: none;
    background-color: rgb(6, 4, 18);
    filter: drop-shadow(0px 0px 0px rgb(6, 4, 18));
    height: 50px;
    margin-top: 25px;
    display: none;
}
#btn-project {
    margin: auto;
    width: 80px;
    transition: all 0.3s ease;
    height: 30px;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
    display: flex;
    padding: 6px;
    padding-left: 8px;
    padding-top: 7px;
    background-color: #55198b;
}
#btn-project:hover {
    background-color: white;
    transform: translateY(-5px);
}
#btn1-project {
    margin: auto;
    width: 80px;
    transition: all 0.3s ease;
    height: 30px;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    margin-top: 15px;
    cursor: pointer;
    display: flex;
    padding: 6px;
    padding-left: 8px;
    padding-top: 7px;
    background-color: #55198b;
}

#btn1-project:hover {
    background-color: white;
    transform: translateY(-5px);
}

/* ---------------------Footer------------------------ */

#footer-main {
    display: flex;
}

footer {
    width: 90%;
    display: flex;
    margin: auto;
    padding-top: 40px;
}

.footer-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.footer-photo-background {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 50%;

}

.footer-photo-background>img {
    width: 300px;
    margin-top: 90px;
    margin-right: 20px;
    height: 300px;
}

.footer-right {
    margin-left: 100px;
    width: 60%;
}

#email {
    margin-top: 20px;
    height: 33px;
    width: 200px;
    border-radius: 20px;
    border: 2px solid #55198b;
    background-color: black;
}

.footer-right>span {
    margin-left: 10px;
}

.footer-right>p {
    margin-top: 20px;
}

.footer-right>h3 {
    margin-top: 20px;
}

.contact-social-media {
    transition: all 0.5s ease;
    margin-top: 20px;
}

.social-media>img {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-top: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.social-media>img:hover {
    transform: translateY(-10px)
}

hr {
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.hr-switch {
    height: 3px;
    color: black;
    background-color: black;
}

.copy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
}